.about{
    height: 150px;
    width: 150px;
    /* margin-top: 2rem; */
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;

}
/* .paper:hover{
    background-color: transparent;
    
} */
