/* .header_container{
    text-align: center;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
} */

.headerbutton_container{
    justify-content: center;
    flex-direction: row;
    display: flex;
    text-transform: capitalize;
    margin-top: 1.5rem;
}

.me{
    height: 300px;
    width: 200px;
    margin-top: 2rem;
    border-radius: 2rem;
}
   

.socialmedia_container{ 
    justify-content: center;
    flex-direction: row;
    display: flex;
    margin-top: 2rem;
    
}

.btn:hover{
    color: aquamarine;
}

.icon{
    color: cadetblue;
}
.icon:hover{
    color: aquamarine;
}