
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  height: auto;
}

body {
  background : #010c18;
  color: white;
  font-family: 'Poppins', sans-serif;
  
}

section{
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

section h2{
  color:#355070;
  margin-bottom:2rem;
}

:root{
  --button-color:#355070;
  --experience-color:#355070;
  --nav-color:#2c5485;
  --paper-color:white;
}